body {
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
}
head{
    background-color: #b5651d;
}
.wrapper {
    background-repeat: no-repeat;
    background-color: lightblue;
}

h1 {
    letter-spacing: 0.25em;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: Georgia, "Times New Roman", serif;
    color: black;

}
nav {
    font-weight: bold;
    font-size: 120%;
    margin-top: 0;
    padding: 0;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
}
nav a {
    text-decoration: none;
    transition: color 3s ease-out;
}
nav a:link { color: white; }
nav a:visited { color: #344873; }
nav a:hover { color: #A52A2A; }
footer {
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, "Times New Roman", serif;
    padding: 2em;
}
@media (min-width: 600px){
    nav ul  {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
    nav li {
        border-bottom: none;
    }
    section {
        padding-left: 2em;
        padding-right: 2em;
    }
    .content main {
        display: grid;
        grid-template-rows: auto ;
        grid-template-columns: 1fr 1fr 1fr;
    }
    h2 {
        grid-row: 1 / 2; grid-column: 1 / 5;
    }
    form {
        width: 60%;
        display: grid;
        grid-gap: 1em; gap: 1em;
        grid-template-columns: 6em 1fr;
        grid-template-rows: auto;
    }
    input[type="submit"] {
        grid-column: 2 / 3;
        width: 9em;
    }
    section {
        grid-row: 2 / 3; grid-column: auto;
    }
    #special  {
        grid-row: auto; grid-column: 1 / 5;
    }
    footer {
        grid-row: auto; grid-column: 1 / 5;
    }

}
